@font-face {
	src: url('./Nunito/Nunito-Regular.ttf');
  font-family: 'Nunito';
}

@font-face {
	src: url('./Nunito/Nunito-SemiBold.ttf');
  font-family: 'Nunito';
  font-weight: 600;
}

@font-face {
	src: url('./Nunito/Nunito-Bold.ttf');
  font-family: 'Nunito';
  font-weight: 700;
}


@font-face {
	src: url('./Nunito/Nunito-ExtraBold.ttf');
  font-family: 'Nunito';
  font-weight: 800;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.logo {
  width: 192px;
  height: 33px;
  background-image: url(./images/logo.svg);
  margin: 0;
}

.logo_place_header {
  position: absolute;
  top: 23px;
  left: 80px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.header__links {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
  gap: 48px;
  margin: 27px 0 0 387px;
  max-width: 430px;
  max-height: 22px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #222222BF;
}

.header__link_active {
  color: #DAA520;
  font-weight: 800;
}

.header__description {
  color: #3E3F43;
  font-size: 36px;
  max-width: 504px;
  z-index: 2;
  margin: 217px 0 16px 102px;
}

.header__span {
  font-weight: 600;
  z-index: 2;
}

.header__title {
  font-size: 72px;
  font-weight: 700;
  max-width: 504px;
  z-index: 2;
  margin: 0 0 0 100px;
}

.header__image {
  width: 568px;
  height: 577px;
  object-fit: cover;
  position: absolute;
  top: 165px;
  right: 0;
  z-index: 0;
}

.header__rectangle {
  background-image: url(./images/Rectangle_1.png);
  width: 370px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.button {
  background-color: #DAA520;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_place_header {
  width: 175px;
  min-height: 50px;
  z-index: 3;
  margin: 16px 0 0 100px;
}

.button__link {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-name {
  margin: 120px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 952px;
  max-height: 98px;
}

.section-title {
  color: #2222221A;
  font-size: 72px;
  font-weight: 800;
  margin: 0;
}

.section-subtitle {
  font-size: 36px;
  font-weight: 700;
  color: #3E3F43;
  margin: 0;
}

.about__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 100px 0;
}

.about__rectangle {
  background-image: url(./images/Rectangle_2.png);
  width: 278px;
  height: 388px;
  z-index: -1;
}

.about__image1 {
  height: 306px;
  width: 388px;
  object-fit: cover;
  position: absolute;
  top: 340px;
  left: 138px;
  z-index: 0;
}

.about__main-text {
  max-width: 470px;
}

.about__text {
  color: #3E3F43;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 16px;
}

.about__span {
  font-weight: 800;
}

.about__description {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.about__item_second {
  margin: 40px 0 0 100px;
}

.about__main-text_second {
  max-width: 670px;
}

.about__image2 {
  height: 384px;
  width: 287px;
}